@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Poppins:wght@400;500;700&display=swap");
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

:root {
  --Very-Dark-Magenta: hsl(300, 43%, 22%);
  --Soft-Pink: hsl(333, 80%, 67%);
  --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
  --Light-Grayish-Magenta: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
  font-size: 15px;
}

body {
  background-image: url(images/bg-pattern-top-desktop.svg),
    url(images/bg-pattern-bottom-desktop.svg);
  background-position: left top, right bottom;
  background-repeat: no-repeat;
  /* max-width: 1440px; */
  height: 100vh;
  /* padding: 70px 120px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main {
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
  /* justify-content: center; */
  /* margin: 35px 10px; */
  /* justify-content: space-between; */
  padding: 70px 120px;
  align-items: center;
}
header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

/* text  */

.card-view {
  /* margin-bottom: 50px; */
  flex-basis: 35%;
}
.card-view h1 {
  font-size: 50px;
  color: var(--Very-Dark-Magenta);
  margin-bottom: 20px;
}
.card-view p {
  color: var(--Dark-Grayish-Magenta);
  font-size: 15px;
}



/* card note */

.card-note {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
}
.card-note .note {
  display: flex;
  align-items: center;
  background-color: var(--Light-Grayish-Magenta);
  padding: 15px 15px;
  width: 320px;
  border-radius: 9px;
  margin-bottom: 15px;
}
.card-note .note p {
  margin-left: 15px;
}
.card-note > *:nth-child(1) {
  margin-right: 35px;
  /* position: relative;
  left: -45px; */
}
.card-note > *:nth-child(2) {
  margin-right: 20px;
  /* position: relative;
  left: -25px; */
}



/* card-test */
.card-test {
  display: flex;
  justify-content: space-between;
  
}
.card-test .card {
  background-color: var(--Very-Dark-Magenta);
  border-radius: 9px;
  width: 350px;
  height: 200px;
  align-content: center;
  padding: 0 25px;
  margin: 0 15px;
}

/* card text and id */
.card-test .card-id {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.card-test .card-id img {
  border-radius: 50%;
  width: 35px;
  margin-right: 10px;
}

.card-test .card-id h4 {
  color: var(--Light-Grayish-Magenta);
  margin-bottom: 5px;
}
.card-test .card-id p {
  color: var(--Soft-Pink);
  font-size: small;
}
.card-test .card-descrip {
  color: var(--Light-Grayish-Magenta);
}

.card-test > *:nth-child(1) {
 
  margin-top: -35px;
 
}
.card-test > *:nth-child(2) {
 
  margin-top: -20px;
}


@media (max-width: 725px) {
  main{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  header {
    display: flex;
    flex-direction: column;
    
  }
  .card-note .note{
    display: flex;
    flex-wrap: wrap;
    
  }
  .card-test  {
   display: flex;
   flex-direction: column;
  }
}