@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght,SOFT@0,9..144,700,0..100;1,9..144,700,0..100&family=Montserrat:ital,wght@0,500;1,500&display=swap');

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

:root {
  --Dark-cyan: hsl(158, 36%, 37%);
  --Cream: hsl(30, 38%, 92%);
  --Very-dark-blue: hsl(212, 21%, 14%);
  --Dark-grayish-blue: hsl(228, 12%, 48%);
  --White: hsl(0, 0%, 100%);
}

body{
    font-size: 14px;
    background-color: var(--Cream);
    font-family: "Fraunces", serif;   
}

main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;   
}
.card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 560px;
    height: 360px;
    background-color:var(--White);
    border-radius: 10px;
    margin: 1.5rem;
    overflow: hidden;
}

.card-desc{
    padding: 10px 25px;
   
}

.card-img img{
    max-width: 100% ;
    display: inherit;
}

/* .mobile{
    visibility: hidden;
} */

/* .card-img{
    background-image: url(images/image-product-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
} */


h6{
    color: var(--Dark-grayish-blue);
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: "Montserrat", sans-serif;
}

h1{
    color: var(--Very-dark-blue);
    font-weight: 700;
    margin-top: -10px
    
}

p{
    
    color: var(--Dark-grayish-blue);
    font-size: small;
    text-wrap:stable;
    font-family: "Montserrat", sans-serif;
}

h2{
    color: var(--Dark-cyan);
    align-items: center;
    align-content: center;
    display: flex;
    font-size: 35px;
    font-family: "Fraunces", serif;
    margin-top: -8px
   
}
h2 span{
    text-decoration:line-through;
    font-weight: lighter;
    font-size: xx-small;
    color: var(--Very-dark-blue);
    margin-left: 15px;
    font-family: "Fraunces", serif;
    
}
button{
    background-color: var(--Dark-cyan);
    color: var(--White);
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border-style: hidden;
    align-items: center;
    align-content: center;
    justify-content: center;
    display: flex;
    margin-top: -8px
    
}

button img{
    margin-right: 5px;
}

@media only screen and (max-width:623px) {
    .card{
        margin:auto 15px;
        grid-template-columns: 1fr;
        height: fit-content;
        max-width: 350px;
    }
    .card-img img{
        max-height: 250px;
        width: 100%;
        object-fit:cover;
        
        
    }
    .card-desc{
        display: block;
    }

    h1{
        margin-top: -10px;
    }

    h2{
        margin-top: -10px;
    }
    button{
        margin-top: -10px;
        /* margin-bottom: 15px; */
    }
.attribution{
    margin-top: 20px;
}

    /* .mobile{
        visibility:visible;
    }
    .desktop{
        visibility: hidden;
    } */
    /* .card-img{
        background-image: url(images/image-product-mobile.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
    } */
}

