:root {
  --Violet: hsl(257, 40%, 49%);
  --Soft-Magenta: hsl(300, 69%, 71%);
}

/* - Mobile: 375px
- Desktop: 1440px */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-image: url(images/bg-desktop.svg);
  background-color: var(--Violet);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}
.main-box{
  height: 100vh;
  padding: 10px;
}

nav {
  margin-bottom: 20px;
  padding-left: 20px;
}


.container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  object-fit: contain;
}
.container img {
  max-width: 50%;
}

.container h1 {
  font-weight: bold;
  font-size: 40px;
  color: white;
  margin: 30px 0;
  padding-top: 35px;
}

.container P {
  font-size: 15px;
  font-weight: lighter;
  margin: 25px 0;
  color: whitesmoke;
}

.container button {
  padding: 10px 60px;
  border-radius: 20px;
  border-style: none;
  color: var(--Violet);
  font-size: large;
  cursor: pointer;
  box-shadow: 1px 10px 20px rgba(0, 0, 0, 0.144);
}

.container button:hover {
  background-color: var(--Soft-Magenta);
  color: white;
  box-shadow: 1px 10px 20px rgba(0, 0, 0, 0.356);
}

footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

footer a img {
  display: flex;
  justify-content: center;
  border: 2px solid white;
  height: 40px;
  width: 40px;
  padding: 9px;
  margin:0 15px;
  border-radius: 100%;
}

a img{
  color: red;
}

@media screen and (max-width: 700px) {
  body {
    background-image: url(images/bg-mobile.svg);
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .container img {
    max-width: 100%;
  }
}

