@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Poppins:wght@400;600&display=swap')

:root {
  --Violet: hsl(257, 40%, 49%);
  --Soft-Magenta: hsl(300, 69%, 71%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-image: url(images/bg-desktop.svg);
  background-color: var(--Violet);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main {
  height: 100vh;
  padding: 20px 50px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 30px 0;
}
.container img {
  max-width: 100%;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center; */
}

.description {
  padding: 55px 0px 0px 35px;
}
.description h1 {
  color: white;
  font-weight: bolder;
  font-size: 35px;
  margin-bottom: 15px;
}

.description P {
  font-size: 15px;
  font-weight: lighter;
  color: whitesmoke;
  margin-bottom: 20px;
  word-spacing: 5px;
}

.container button {
  padding: 10px 60px;
  border-radius: 20px;
  border-style: none;
  color: var(--Violet);
  font-size: large;
  cursor: pointer;
  box-shadow: 1px 10px 20px rgba(0, 0, 0, 0.144);
}
.container button:hover {
  background-color: var(--Soft-Magenta);
  color: white;
  box-shadow: 1px 10px 20px rgba(0, 0, 0, 0.356);
}

footer{
  width: 100%;
}
footer ul{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}
footer ul li{
  list-style: none;
  border: 1px solid white;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

li a{
  display:flex ;
  justify-content: center;
  align-items: center;
}

li a img{
  transform: scale(0.4);
  filter: invert(1);
}



a img {
  color: red;
}


@media only screen and (max-width:768px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
   
  }
  .main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .container img {
    width: 100%;  
  }
  .description {
    padding: 20px 0px 0px 35px;
  }
  .description h1 {
    color: white;
    font-weight: bolder;
    font-size: 20px;
    margin-bottom: 15px;
  }
  
  .description P {
    font-size: 12px;
    font-weight: lighter;
    
  }
  .container button {
    padding: 9px 30px;
    
  }

}

@media only screen and (max-width:600px){
  body{
    background-image: url(images/bg-mobile.svg);
    background-color: var(--Violet);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
   
  }


  nav img{
    width: 40%;
  }
  
  .container img {
    width: 100%;  
  }
  .description h1 {
    color: white;
    font-weight: bolder;
    font-size: normal;
    margin-bottom: 15px;
  }
  
  
  
  .description P {
    font-size: 12px;
    font-weight: lighter;
    
  }
  .container button {
    padding: 9px 65px;
    
  }
  .description {
    padding: 0px 0px 0px 0px;
  }

  footer ul{
    justify-content: center;
  }
  
}