@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");


.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --Bright-orange: hsl(31, 77%, 52%);
  --Dark-cyan: hsl(184, 100%, 22%);
  --Very-dark-cyan: hsl(179, 100%, 13%);
  --white-paragraphs: hsla(0, 0%, 100%, 0.75);
  --Very-light-gray: hsl(0, 0%, 95%); /*background, headings, buttons*/
}

body {
  background-color: var(--Very-light-gray);
  font-family: "Lexend Deca", sans-serif;
}

.main-box {
  display: flex;
  align-items: center;
  max-width: 970px;
  min-height: 100vh;
  margin: 0 auto;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-radius: 10px;
  overflow: hidden;
  flex-wrap: wrap;
  margin: 2rem;
 
}
img {
  width: 25%;
  margin-bottom: 30px;
}
/* sedans box */
.box-one {
  background-color: var(--Bright-orange);
}
.box-one button {
  color: var(--Bright-orange);
}
/* suvs box */
.box-two {
  background-color: var(--Dark-cyan);
}
.box-two button {
  color: var(--Dark-cyan);
}
/* luxury box */
.box-three {
  background-color: var(--Very-dark-cyan);
}
.box-three button {
  color: var(--Very-dark-cyan);
}
/* card */
.card {
  padding: 30px;
}

.card h1 {
  font-family: "Lexend Deca", sans-serif;
  font-size: 400;
  color: var(--Very-light-gray);
  margin-bottom: 20px;
}

.card p {
  font-family: "Big Shoulders Display", sans-serif;
  font-size: 700;
  gap: 0.1rem;
  color: var(--white-paragraphs);
  line-height: 1.6;
  gap: inherit;
  text-wrap: balance;
}

/* card button */
.card button {
  font-weight: bold;
  background-color: var(--Very-light-gray);
  padding: 13px 27px;
  border-radius: 26px;
  margin-top: 70px;
  display: inline-block;
  border: 2px solid hsl(0, 0%, 95%);
  transition: all 0.4s ease-in-out;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
}
.card button:hover {
  color: var(--Very-light-gray);
  background-color: transparent;
}
.card button:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

/* respos */
@media only screen and (max-width: 768px) {
  .main-box {
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 425px) {
  .content {
    margin: 0.5rem;
  }
}
