@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

:root {
  --Cyan: hsl(179, 62%, 43%);
  --light-Cyan: hsla(179, 61%, 50%, 0.582);
  --Bright-Yellow: hsl(71, 73%, 54%);
  --Light-Gray: hsl(204, 43%, 93%);
  --Grayish-Blue: hsl(218, 22%, 67%);
}
body {
  background-color: var(--Grayish-Blue);
   font-family: "Karla", sans-serif;
   font-size:16px;
}

.main-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.747); */
}

/* fist box one the top  */

.container {
  padding: 30px;
  background-color: var(--Light-Gray);
  width: 500px;
  gap: 2rem;
}

.container h2 {
  color: var(--Cyan);
  margin-bottom: 15px;
  font-weight: 700;
}

.container h5 {
  color: var(--Bright-Yellow);
  margin-bottom: 10px
  
}

.container p {
  color: var(--Grayish-Blue);
  font-size: small;
  gap: 2rem;
}

/* bottom box  */
.button-box {
  display: flex;
}

/* bottom box  one */
.button-box-one {
  background-color: var(--Cyan);
  padding: 25px;
  width: 250px;
  gap: 2rem;
}
.button-box-one h4 {
  color: white;
  margin: 10px 0 10px 0;
  font-weight: lighter;
}

.button-box-one h5 {
  color: var(--Light-Gray);
  font-weight: lighter;
  display: flex;
  align-items: center;
  align-content: center;
}
.button-box-one h5 span {
  color: white;
  font-weight: bold;
  font-size: xx-large;
  margin-right: 10px;
}

.button-box-one p {
  font-size: small;
  color: var(--Light-Gray);
  margin: 5px 0 15px 0;
}

.button-box-one button {
  width: 100%;
  padding: 10px;
  font-weight: bold;
  border-style: none;
  border-radius: 4px;
  background-color: var(--Bright-Yellow);
  cursor: pointer;
  color: white;
  transition: 0.2s all;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  outline:none ;

}
.button-box-one button:active{
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

/* bottom box  */
.button-box-two {
  background-color: var(--light-Cyan);
  padding: 25px;
  width: 250px;
  color: white;
  gap: 2rem;
}

.button-box-two h4 {
  margin: 5px 0 15px 0;
  font-weight: lighter;
}

.button-box-two p {
  font-weight: lighter;
  font-size: 13px;
  color: var(--Light-Gray);
}

/* madia */

/* Mobile: 375px
- Desktop: 1440px */

@media screen and (max-width: 700px) {
  .main-box {
    display: flex;
    padding: 5%;
  }
  .container {
    width: 50vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .button-box {
    display: flex;
    flex-direction: column;
  }
  .button-box-one {
    width: 50vh;
  }
  .button-box-two {
    width: 50vh;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

@media screen and (min-width: 700px) {
  .container {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .button-box-one {
    border-bottom-left-radius: 5px;
  }
  .button-box-two {   
    border-bottom-right-radius: 5px;
  }
}
