.navColor{
    background-color: lightgreen !important;
    padding: 13px;
}

#footer{
    background-color:  lightgreen ;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
}
.navbar-collapse{
    text-align: end;
    display: flex;
    justify-content: end;
    align-items: end;
    margin-top: 10px;
    margin-bottom: 10px;
}

.row{
    padding-top: 10px;
    padding-bottom: 10px;
}